/* Universal Styling */

body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.content {
	width: 80%;
	margin: auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

/*header styling */

header {
    background-color: #0A1612;
    font-size: 20px;
}

nav {
	color: white;
	background-color: #1A2930;
	/* border: 3px solid #023EFF; */
	margin-top: 20px;
}

nav ul {
	padding: 10px;
	margin: 0;
}

nav ul li {
	list-style-type: none;
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: inherit;
}

nav a:hover {
    color: #023EFF;
}

#navleft {
    width: 30%;
    box-sizing: border-box;
    float: left;
    text-align: left;
}

#navright {
	width: 30%;
	box-sizing: border-box;
	float: right;
	text-align: right;
}

#logo img {
	display:block;
	margin: auto;
	padding: 10px 0;
}

/* Footer Styling */

footer {
	background-color: #0A1612;
	color: white;
}

footer h2 {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
}

.leftlink {
	float: left;
	width: 45%;
	text-align: left;
	padding-left: 20px;
}

.rightlink {
	float: right;
	width: 45%;
	text-align: right;
	padding-right: 20px;
}

footer a {
	color: white;
}

#icons {
	clear: both;
	float: left;
	margin-top: 5px;
}

.fa {
	padding: 0 10px;
}

.rightemail {
	float: right;
	text-align: right;
	padding-right: 20px;
	display: inline;
	margin-top: 5px;
	padding: 5px;
}
