/* Universal Styling */

body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.content {
	width: 80%;
	margin: auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Header Styling */

header {
	background-color: #CDCDCD;
	padding: 0;
	margin: 0;
	border-bottom: 20px solid #99D3DF;
}

#title {
	float: left;
	margin: 0;
	padding: 15px;
	font-size: 16px;
}

#title h2 {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

nav {
	float: right;
	padding: 20px;
	font-size: 16px;
	text-transform: uppercase;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
	display: inline;
	float: left;
	padding: 0 10px;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	background-color: #99D3DF;
}

/* Footer Styling */

footer {
	background-color: /* #0A1612 */ #CDCDCD;
	color: /* white */ black;
	border-bottom: 20px solid /* #023EFF */ #99D3DF;
}

footer h2 {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	margin-top: 0;
}

.leftlink {
	float: left;
	width: 45%;
	text-align: left;
	padding-left: 20px;
}

.rightlink {
	float: right;
	width: 45%;
	text-align: right;
	padding-right: 20px;
}

footer a {
	color: black;
}

#icons {
	clear: both;
	float: left;
	margin-top: 5px;
}

.fa {
	padding: 0 10px;
}

.rightemail {
	float: right;
	text-align: right;
	padding-right: 20px;
	display: inline;
	margin-top: 5px;
	padding: 5px;
}

/* Logo and image styling */

#photos {
	background-color: #EFEFEF;
}

#logo {
	width: 25%;
	border-top: 2px solid #99D3DF;
	border-right: 2px solid #99D3DF;
	border-radius: 15px;
	margin: 15px;
	padding-top: 10px;
	box-sizing: border-box;
	float: left;
}

#logo img {
	padding-left: 20px;
}

#topimage {
	width: 70%;
	float: right;
}

#topimage img {
	width: 100%;
	height: 200px;
	padding: 20px 0;
}

/* Article Box1 Styling */

#articles {
	background-color: #efefef;
}

.box1 {
	width: 70%;
	margin: 0 auto 20px auto;
	border: 2px solid #99D3DF;
	padding: 5px;
	box-sizing: border-box;
}

.box1 img {
	width: 20%;
	float: left;
	padding: 10px 0 10px 10px;
}

.box1 h2 {
	padding: 0 15px 0 25px;
	font-size: 16px;
	width: 70%;
	float: right;
}

.box1 h3 {
    padding: 0;
    margin: 0;
    clear: both;
    text-align: right;
}
