/* Universal Styling */

body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.content {
	width: 80%;
	margin: auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Header Styling */

header {
    background-color: #0A1612;
    font-size: 20px;
}

#logo {
	float: left;
	padding: 5px;
}

#logo img {
	display: block;
	height: 150px;
}

#title {
	color: white;
	margin: 0;
	padding: 10px 0;
}

#title h2 {
	margin: 0;
	text-align: right;
}

nav {
    background-color: #1A2930;
    float: right;
    text-align: right;
    padding: 15px 0 25px 0;
    border-bottom: 20px solid #023EFF;
    margin-top: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
	padding: 5px 10px;
	text-transform: uppercase;
	display: inline;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	color: #023EFF;
}

/* Footer Styling */

footer {
	background-color: #0A1612;
	color: white;
	border-bottom: 20px solid #023EFF;
}

footer h2 {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	margin-top: 0;
}

.leftlink {
	float: left;
	width: 45%;
	text-align: left;
	padding-left: 20px;
}

.rightlink {
	float: right;
	width: 45%;
	text-align: right;
	padding-right: 20px;
}

footer a {
	color: white;
}

#icons {
	clear: both;
	float: left;
	margin-top: 5px;
}

.fa {
	padding: 0 10px;
}

.rightemail {
	float: right;
	text-align: right;
	padding-right: 20px;
	display: inline;
	margin-top: 5px;
	padding: 5px;
}

/* Article Box1 Styling */

#articles {
	background-color: #dbd9d9;
}

.box1 {
	width: 70%;
	float: left;
	margin: 20px 10px;
	border: 2px solid rgba(2, 62, 255, 0.5);
	padding: 5px;
	box-sizing: border-box;
}

.box1 img {
	float: left;
	width: 20%;
}

.box1 h2 {
	float: left;
	padding: 0 15px 0 25px;
	font-size: 16px;
	display: inline;
	width: 70%;
}

.box1 h3 {
    float: right;
    padding: 0;
    margin: 0;
}

/* Right column styling */

.asidewrap {
	width: 25%;
	box-sizing: border-box;
	border: 2px solid rgba(2, 62, 255, 0.5);
	font-size: 14px;
	float: right;
	margin: 20px 10px;
	padding: 5px;
	height: 450px
}